
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>contact</title>
</head>
<body>
    @{ 
        Html.RenderAction("dynamicheader");
    }
    <br />
    <span style="background-color:brown;color:white;font-size:x-large;" align="center"> Contact Page</span>
</body>
</html>
