
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Contact</title>
</head>
<body>
    <div style="background-color:blue;font-size:medium;font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">
        <p style="font-family:'Times New Roman', Times, serif;color:chartreuse">Contact View </p>
        <a href="~/Demo/Index">Home</a>
    </div>
</body>
</html>
