
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div style="background-color:crimson;font-size:x-large">
        <p style="font-family:'Times New Roman', Times, serif;color:chartreuse">Welcome To Index Method </p>
        <a href="~/Demo/About">About</a><br />
        <a href="~/Demo/Contact">Contact</a>
        
    </div>
</body>
</html>
