@model ZQDbFirst.Models.productrecord

@{
    
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<html>
   <head></head>
  <body>
      <h1 style="font-size:medium;color:brown;background-color:chartreuse;font-family:'Agency FB'">Home Page</h1>
  </body>
  @section s1
  {
     @Html.Action("prods")
  }


</html>

