
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div style="font-size:x-large">
        <a href="~/State/store">Store </a><br />
        <a href="~/State/usepeek">Peek </a><br />
        <a href="~/State/readandkeep">ReadKeep </a><br />
        <a href="~/State/normalread">NormalRead </a><br />
    </div>
</body>
</html>
