
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div align="center">
        Error Page For Home Controller Action    :  <a href="~/Home/errorHome"> Show </a><br />
        Go To Demo Controller    :  <a href="~/Demo/Index"> Demo Controller </a><br />
        Days List For Shared Page : <a href="~/Home/days"> Show </a>
    </div>
</body>
</html>
