
@{
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <h3 style="text-align:center">Welcome To Home Page</h3>
    @section s1
    {
        @Html.Action("prods")
    }
</body>

</html>
