@model AdoMovieGalleryApp.Models.movie

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
   
</head>
<body style="background-color:cornsilk">
    <div style="font-size:x-large;color:black;">
        <a href="~/Movie/add">Add New Movie</a> <br /><br />
        <a href="~/Movie/display">Display Movies</a> <br /><br />
    </div>
</body>
</html>
