
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>viewdemo</title>
</head>
<body>
    <h1> This Is Normal View Result ! </h1>
</body>
</html>
