
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>productbyidname</title>
</head>
<body>
    <h1>@ViewBag.res Product By Id Name Normal Routing </h1>
</body>
</html>
