
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    
</head>
<body>
    <h1>@ViewBag.res  Product By Id Noramal Routing</h1>
</body>
</html>
