
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />

    <script src="~/Scripts/jquery-3.3.1.min.js"></script>

</head>
<body style="background-color:beige" onload="f1()">
    <span id="s1" style="color:black;background-color:aqua;border-radius:0 0 15px">
        Loading news ....
    </span>
    <br /><br />
    <form>
        Username  : <input id="txt1" /><br /><br />
        Password  :<input type="password" id="txt2" />
    </form>

    <script>
        function f1()
        {
            $.ajax({
                url: "Demo/getnews",
                type: "get",
                beforeSend: function () { },
                success: function (r) {
                    $("#s1").html(r);
                },
                error: function () {
                    document.write("Errror !");   
                }
            });

            window.setTimeout("f1()",500);


        }


    </script>

</body>
</html>
