@model IEnumerable<EagerLazyLoadingAndMetadata.Models.category>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h2><a href="~/Demo/index2">Filter</a></h2>
</body>
</html>
