
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>campus</title>
</head>
<body>
    @{
        Html.RenderPartial("_header");
    }<br />
    <span style="color:black; font-size:x-large; background-color:chartreuse">Campus Page</span>
</body>
</html>
