
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div>
        <img src="~/Images/campus.jpg" class="img-circle" height="300" width="300" title="campus"/>
        <img src="~/Images/canteen.jpg" class="img-rounded" height="300" width="300" title="canteen"/>
        <img src="~/Images/classroom.jpg" class="img-thumbnail" height="300" width="300" title="classroom"/>
    </div>
    <div>
        <input type="button" class="btn-danger" value="Delete" />&nbsp;&nbsp;
        <input type="button" class="btn-primary" value="Update" />&nbsp;&nbsp;
        <input type="button" class="btn-success" value="Save" />&nbsp;&nbsp;
        <input type="button" class="btn-warning" value="Warning" />&nbsp;&nbsp;
        <input type="button" class="btn-block" value="Block" />&nbsp;&nbsp;
    </div>
</body>
</html>
