@model CodeFirstApp.Models.dept

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
</head>
<body style="background-color:cornflowerblue">
    
    <div style="color:black;background-color:aliceblue;border-radius:20px;box-shadow:0 0 10px black" align="center">

        <a href="~/Demo/Index" class="btn btn-primary">Home</a>
        <br />
        <br />
        <br />
        @using (Html.BeginForm())
        {
            <table style="width:40%" class="table table-dark">
                <tr>
                    <td>Department Id</td>
                    <td>@Html.DisplayFor(d => d.did)</td>
                    <td>@Html.HiddenFor(d => d.did)</td>
                </tr>
                <tr>
                    <td>Department Name</td>
                    <td>@Html.TextBoxFor(u => u.dname)</td>
                </tr>
                <tr>

                    <td><input type="submit" value="Submit" class="btn btn-success" /></td>
                    <td><a href="~/Demo/Index" class="btn btn-secondary">Cancel</a></td>
                </tr>
            </table>
        }
    </div>
</body>
</html>
