
@{
    Layout = null;
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    
</head>
<body style="background-color:cornflowerblue">
    <div align="center">
        <h1> Employee Management </h1>
    </div>
    
    <div style="font-size:x-large;font-family:'Matura MT Script Capitals';color:black;background-color:aliceblue;border-radius:20px;box-shadow:0 0 10px black" align="center"> 
        <h3>
            <a href="~/Demo/adddept">Add Department</a><br /><br />
            <a href="~/Demo/displaydept">Display Department</a><br /><br />
            <a href="~/Emp/addemp">Add Employee</a><br /><br />
            <a href="~/Emp/displayemp">Display Employee</a>
        </h3>
    </div>
</body>
</html>
