
@{
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>contact</title>
</head>
<body>
   <h3>contact@unipune.com</h3>
   <h3>unipune/twitter.com</h3>
   <h3>1425369870</h3>
    <script>
        document.GetElementById("img1").src = "/Images/campus.jpg";
    </script>
</body>
</html>
