
@{
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>tutorial</title>
</head>
<body>
    <div> Tutorials Informantion </div>
    @section s1
   {
        <ul>
            <li>Angular</li>
            <li>.Net Core</li>
            <li>MVC Core</li>
            <li>Web API and Microservices </li>
        </ul>
    }
</body>

</html>
