
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>error</title>
</head>
<body>
    <div align="center">
        Shared Error Page : @ViewBag.msg
        <a href="~/Home/Index">Go  To Home Controller</a><br />
        <a href="~/Demo/Index">Go  To Demo Controller</a>
    </div>
</body>
</html>
