
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div align="center">
        Error Page For Demo Controller Action    :  <a href="~/Demo/errorDemo"> Show </a><br />
        Go To Home Controller    :  <a href="~/Home/Index"> Home Controller </a><br />
        Months List For Shared Page : <a href="~/Demo/months"> Show </a>
    </div>
</body>
</html>
