
@{
   
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    
</head>
<body>
    <div> 
        <h2>Customer ID : @ViewBag.customer.custid</h2>
        <h2>Customer Name : @ViewBag.customer.custname</h2>
    </div>
</body>
</html>
