@model ModelApp13.Models.CustomerModel
@{
   
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    
</head>
<body>
    <h3>Customer Id: @Model.custid</h3>
    <h3>Customer Name: @Model.custname</h3>
</body>
</html>
